.topbar {
  padding: 10px;
  font-weight: bold;
  font-size: small;
  background-color: #121318;
}

.topbar-date {
  border-radius: 16px;
  transition: all 0.4s;
}
.topbar-date > label {
  transition: all 0.4s;
  margin: 2px 5px;
}

.topbar-date:hover {
  color: #121318;
  background-color: #414659;
}
.topbar-date:hover > label {
  color: #121318;
}

.topbar-workspaces-button-circle {
  background-color: #c1c5dd;
  min-height: 10px;
  min-width: 5px;
  border-radius: 10px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 6px 1px 6px 1px;
  transition: all 0.3s;
}
.topbar-workspaces-button-circle.active {
  padding-left: 7px;
  padding-right: 7px;
}

.corner {
  background-color: #121318;
  border-radius: 1rem;
}

.angle {
  background-color: #121318;
}

.notification {
  background-color: #121318;
  padding: 10px;
  border-radius: 16px;
}

.notification-center {
  padding: 10px;
  border-radius: 16px;
  background-color: #121318;
  min-width: 640px;
  min-height: 410px;
  padding: 20px;
}

.notification-center-item {
  background-color: #1e1f25;
  padding: 10px;
  border-radius: 16px;
}

.notification-center-clear-btt {
  box-shadow: none;
  border-radius: 8px;
}

.notification-center-item-button {
  border-radius: 8px;
}

.center-calendar {
  /* background-color: $surface_container_high; */
  padding: 10px;
  border-radius: 16px;
}

.quicksettings-window {
  background-color: #121318;
  border-radius: 18px;
}

.quicksettings {
  padding: 10px;
  border-radius: 16px;
  background-color: #121318;
  padding: 15px;
  min-width: 435px;
}

.quickbutton {
  min-width: 25px;
  background-color: transparent;
}

.quicksettings-top-button {
  border-radius: 16px;
}
.quicksettings-top-button > image {
  padding: 0px 3px;
}

.quicksettings-middle-button {
  transition: all 0.3s;
  padding: 8px 20px;
  min-height: 50px;
  border-radius: 18px;
}
.quicksettings-middle-button.active {
  background-color: #b4c5ff;
}

.quicksettings-middle-button-icon {
  transition: all 0.3s;
}
.quicksettings-middle-button-icon.active {
  color: #1b2d60;
}

.quicksettings-middle-button-title {
  transition: all 0.3s;
  font-size: large;
}
.quicksettings-middle-button-title.active {
  color: #1b2d60;
}

.quicksettings-middle-button-subtitle {
  transition: all 0.3s;
  font-size: smaller;
  font-weight: normal;
}
.quicksettings-middle-button-subtitle.active {
  color: #1b2d60;
}

.quicksettings-middle-button-next {
  transition: all 0.3s;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: transparent;
  border-left: 1px solid #121318;
}
.quicksettings-middle-button-next.active {
  background-color: #b4c5ff;
}

.quicksettings-container {
  background-color: #1e1f25;
  padding: 10px;
  border-radius: 16px;
  background-color: #121318;
}

.quicksettings-mpris {
  padding: 10px;
  border-radius: 16px;
  background-color: #121318;
  min-width: 100px;
}

.quicksettings-mpris-background {
  background-color: rgba(30, 31, 37, 0.6);
}

.volume-mixer-slider highlight {
  background-image: image(#b4c5ff);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}
.volume-mixer-slider slider {
  background-image: image(transparent);
  background-color: transparent;
}
.volume-mixer-slider trough {
  border-radius: 8px;
}

* {
  color: #c1c5dd;
  font-weight: bold;
  font-size: small;
}

button {
  background: #292a2f;
  box-shadow: none;
}

/* entry {
    background-color: ;
} */
button:hover {
  background-color: #38393f;
}

window {
  background-color: transparent;
}

.title-1 {
  font-size: xx-large;
  font-weight: bold;
}

.title-2 {
  font-size: x-large;
  font-weight: bold;
}

.title-3 {
  font-size: larger;
  font-weight: bold;
}

.title-4 {
  font-size: large;
  font-weight: bold;
}

.boxed-image {
  background-size: cover;
  background-position: center;
}

.circular-image {
  border-radius: 9999px;
}

.circular {
  min-width: 34px;
  min-height: 34px;
  padding: 0;
  padding-right: 1px;
  border-radius: 9999px;
}
.circular label {
  padding: 0;
}

.flat {
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
