.greeter-user-login {
    @include Box;

    padding: 0px;
    min-width: 400px;
    min-height: 210px;
}

.greeter-user-wallpaper {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

.greeter-user-login-entry {
    margin: 20px;
    margin-top: 40px;
}

.greeter-content-entry {
    padding: 10px;
}
